<footer class="gs-footer container-fluid ">
  <div class="container">


<ul class="gs-social-media">
  <li><a class="fa fa-2x fa-facebook-square" href=""></a></li>
  <li><a class="fa fa-2x fa-twitter-square" href=""></a> </li>
  <li><a class="fa fa-2x fa-github-square" href="https://github.com/alb12-la"></a></li>
  <li><a class="fa fa-2x fa-flickr" href="https://www.flickr.com/photos/135180197@N03/"></a> </li>

</ul>

</div>

<div class="gs-footer-copyright">All content copyright. All rights reserved. <a href="/">alb16</a> © 2016 • </div>

</footer>
